body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    margin-bottom: 15px;
    font-size: 50px;
}

.main-size {
    font-size: 40px;
}

.button {
    background-image: linear-gradient(orange, tomato);
    color: white;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
}

.amazon {
    color: orangered;
}

.display {
    display: flex;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    position: relative;
    float: left;
}

.second-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width {
    width: 100%;
    margin-right: 10%;
    padding-left: 10%;
    padding-bottom: 150px;
}

.pic {
    width: 100%;
    border-radius: 95%;
    margin-left: 25px;
}

.pic-two {
    width: 100%;
    border-radius: 95%;
    margin-right: 20%;
}

#link-vanish {
    text-decoration: none;
}

.half-width-exp1 {
    width: 50%;
}

.half-width-exp2 {
    width: 50%;
    padding-right: 35px;
    margin: 150 40 100px 40px;
    box-shadow: 0 0 16px black;
    border-left: 5px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-radius: 5px;
}